// Navigation code here
.navigation{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background: @handfcolor;
    h1{
      font-size:4em;
      text-align:center;
      padding-bottom:20px;
    }// closing h1
    nav{
      text-align:center;
      display:flex;
      justify-content:space-evenly;
      width:40%;
      margin-left:30%;
      @media @mobile {
        margin-left:10%;
        width:78%;
        justify-content:space-between;
    }// closing media query
    }//closing nav
      a{
        text-decoration:none;
        font-size:1.4em;
        color:black;
        padding-bottom:15px;
        
      }//closing a
    }// closing navigation
